<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--配置全局属性-->
    <settings>
        <!--使用jdbc的getGeneratedKeys获取数据库自增主键的值-->
        <setting name="useGeneratedKeys" value="true"/>

        <!--使用列别名替换列名 默认true-->
        <!--
            select name ad title from table
            开启之后mybatis会自动帮我们将表中的name的值赋给
        -->
        <setting name="userColumnLabel" value="true"/>
        
        <!--开启驼峰命名转换：Table(create_time) -> Entity(createTime)-->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
</configuration>